<style>
    * {
        margin: auto 30px;
        font-family: 'Montserrat', sans-serif;
    }

    div, img, span, strong, footer {
        margin: 0;
    }

    .block {
        margin: 10px 0;
    }
    
    .ta-center {
        text-align: center;
    }

    .ta-end {
        text-align: end;
    }

    .d-flex {
        display: -webkit-box;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
    }

    .d-grid {
        display: grid;
    }
    
    .box{
        border-radius: 6px;
        border: 2px solid #9d9d9d;
        padding: 25px 20px;
        margin: 50px 0px;
    }

    .price-block-covered {
        background-color: #D1D1D1;
        padding: 7px;
        position: absolute;
        margin: -15px -10px;
        font-size: 12px;
        text-decoration: line-through !important;
    }

    .price-block {
        width: 100%;
        border: 2px solid #FF5D0E;
        padding: 5px 0px;
        font-size: 17px;
        font-weight: 600;
    }
    
    .ta-right{
        text-align: right;
    }
    
    .ta-center{
        text-align: center;
    }

    .space-between {
        justify-content: space-between;
    }

</style>

<main>
    <div class="block ta-center">
        <h1>Hello <%= name %></h1>
    </div>
</main>